html { scroll-behavior: smooth; }
body { margin: 0; padding: 0; background-color: var(--gray-1); }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--gray-6); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--gray-8); }